* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to right, #1d3557, #457b9d);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: #ffffff;
  padding: 30px;
  width: 320px;
  border-radius: 8px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.login-container h2 {
  margin-bottom: 5px;
}

.sub-text {
  font-size: 13px;
  color: #666;
  margin-bottom: 20px;
}

select, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  background: #1d3557;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #16324f;
}

#errorMsg {
  margin-top: 10px;
  color: red;
  font-size: 14px;
}